<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<context:component-scan
		base-package="com.spring.chainofresponsibility" />

	<bean id="abstractRupeeWithdrawal" abstract="true" />

	<bean id="bankApplication"
		class="com.spring.chainofresponsibility.withdrawl.BankApplication">
		<property name="rupeeWithdrawal"
			ref="fiveHundredRupeesWithdrawal" />
		<property name="amountWithdrawal" value="8550"></property>
	</bean>

	<bean id="fiveHundredRupeesWithdrawal"
		class="com.spring.chainofresponsibility.withdrawl.FiveHundredRupeesWithdrawal"
		parent="abstractRupeeWithdrawal">
		<property name="allowedLimit" value="500"></property>
		<property name="twoHundredRupeeWithdrawal"
			ref="twoHundredRupeesWithdrawal"></property>
	</bean>

	<bean id="twoHundredRupeesWithdrawal"
		class="com.spring.chainofresponsibility.withdrawl.TwoHundredRupeesWithdrawal"
		parent="abstractRupeeWithdrawal">
		<property name="allowedLimit" value="200"></property>
		<property name="oneHundredRupeeWithdrawal"
			ref="oneHundredRupeeWithdrawal"></property>
	</bean>

	<bean id="oneHundredRupeeWithdrawal"
		class="com.spring.chainofresponsibility.withdrawl.OneHundredRupeesWithdrawal"
		parent="abstractRupeeWithdrawal">
		<property name="allowedLimit" value="100"></property>
		<property name="fiftyRupeeWithdrawal"
			ref="fiftyRupeeWithdrawal"></property>
	</bean>

	<bean id="fiftyRupeeWithdrawal"
		class="com.spring.chainofresponsibility.withdrawl.FiftyRupeesWithdrawal"
		parent="abstractRupeeWithdrawal">
		<property name="allowedLimit" value="50"></property>
	</bean>
	
</beans>